*,body{
    margin: 0;
    padding: 0;
    font-family: 'open sans';
}
header{
    width: 100%;
    height: 50px;
    background-color: #380B58;
    margin: auto;
}
a{
    text-decoration: none;
}
#logo{
    width: max-content;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    padding: 5px 0 0 20px;
}
#logo h1{
    color: white;
    font-weight: bold;
    font-size: 2em;
}
nav a{
    display: inline-block;
    margin: 0 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
nav img{
    width: 30px;
    position: relative;
}
nav{
    width: max-content;
    display: flex;
    position: absolute;
    top: 0.7%;
    right: 1%;
    align-items: center;
}
main{
    width: 940px;
    margin: auto;
    padding: 40px 0 0 20px;
    color: #380B58;
    display: flex;
}
.about table{
    width: max-content;
}
.about table th{
    padding: 10px;
    border: #380B58 solid 1px;
}

.about .title{
    color: white;
    background-color: #380B58;
    font-weight: bold;
}

.about img{
    border: #380B58 3px solid;
}

.about h3{
    width: 100px;
    float: left;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}
.about p{
    font-size: 0.7em;
    float: left;
    margin-left: 5px;
    font-weight: 450;
    line-height: 1.2;
    text-align: left;
}
.subtext{
    margin: 5px 0 0 20px;
}
.subtext p{
    font-size: 1em;
    color: #380B58;
}

.submain {

    display: inline;
}

.gov_plan{
    margin: 10px 0 0 20px;
}
.gov_plan form{
    margin-bottom: 10px;
}

.gov_plan p{
    display: none;
    padding: 10px;
}
.gov_plan{
    padding: 10px;
}

.gov_plan label{
    padding: 10px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: url(caret-right-fill.svg);
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: url(caret-down-fill.svg);
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.gov_plan input#plan:checked + label[for="plan"] ~ p#text{
    display: block;
    color: #380B58;
}
.gov_plan input#plan2:checked + label[for="plan2"] ~ p#text2{
    display: block;
    color: #380B58;
}
.gov_plan input#plan3:checked + label[for="plan3"] ~ p#text3{
    display: block;
    color: #380B58;
}
.gov_plan input#plan4:checked + label[for="plan4"] ~ p#text4{
    display: block;
    color: #380B58;
}
.gov_plan input#plan5:checked + label[for="plan5"] ~ p#text5{
    display: block;
    color: #380B58;
}
